name: "Build"
on:
  push:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        distro:
          - humble
          - jazzy
          - kilted
          - rolling
        system:
          - x86_64-linux
          - aarch64-linux
    runs-on: ${{ (matrix.system == 'x86_64-linux') && 'ubuntu-latest' || 'ubuntu-24.04-arm' }}
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.distro }}-${{ matrix.system }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31.8.1
      with:
        extra_nix_config: |
          max-jobs = 2
          cores = 2
    - uses: cachix/cachix-action@v15
      with:
        name: ros
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        skipPush: true
    - uses: ./.github/actions/nix-ros-build-action
      with:
        root-attribute: 'rosPackages.${{ matrix.distro }}'
        system: '${{ matrix.system }}'
        eval-jobs: 4
        build-jobs: 2
    - name: "Pin built packages in the cache"
      if: ${{ github.ref_name == 'master' || github.ref_name == 'develop' }}
      run: |
        cachixCache=ros
        pinName=${{ format('{0}-{1}-{2}', github.ref_name , matrix.distro, matrix.system) }}
        linkFarm=$(nix-build linkFarm.nix --argstr name "$pinName")
        cachix push $cachixCache $linkFarm
        cachix pin $cachixCache $pinName $linkFarm
        nix-store --query --references $linkFarm | xargs du -shc | sort -h
