name: "Build"
on:
  push:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        distro:
          - humble
          - jazzy
          - kilted
          - rolling
        system:
          - x86_64-linux
          - aarch64-linux
    runs-on: ${{ (matrix.system == 'x86_64-linux') && 'ubuntu-latest' || 'ubuntu-24.04-arm' }}
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.distro }}-${{ matrix.system }}
    steps:
    - uses: actions/checkout@v4
    - uses: cachix/install-nix-action@v31.8.1
      with:
        extra_nix_config: |
          max-jobs = 2
          cores = 2
    - uses: cachix/cachix-action@v15
      with:
        name: ros
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        skipPush: true
    # Add second cache after cachix-action to prevent cachix-action
    # from overriding substituters.
    - name: "Configure @wentasah's binary cache"
      run: |
        cat >> ~/.config/nix/nix.conf <<EOF
        extra-substituters = https://attic.iid.ciirc.cvut.cz/ros?priority=42
        extra-trusted-public-keys = ros:JR95vUYsShSqfA1VTYoFt1Nz6uXasm5QrcOsGry9f6Q=
        EOF
    - uses: ./.github/actions/nix-ros-build-action
      with:
        root-attribute: 'rosPackages.${{ matrix.distro }}'
        system: '${{ matrix.system }}'
        eval-jobs: 4
        build-jobs: 2
        pin-name: ${{ (github.ref_name == 'master' || github.ref_name == 'develop') && format('{0}-{1}-{2}', github.ref_name , matrix.distro, matrix.system) || null }}
